html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 260px;
  padding: 0;
  width: 300px;
}

.logo-icon {
  display: block;
  margin-left: 25%;
  margin-right: auto;
  /*width: 50%;*/
}

h1 {
  font-family: "Menlo", monospace;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  color: #2f5876;
}

a:link,
a:visited {
  color: #000000;
  outline: 0;
  text-decoration: none;
}

.modal-header {
  align-items: center;
  padding: 0px;
}

.modal-content {
  padding: 0 22px;
}

.modal-icons {
  border-top: 0.5px solid #dadada;
  height: 50px;
  width: 100%;
}

.logo {
  padding: 16px;
}

.logo-icon {
  vertical-align: text-bottom;
  margin-right: 12px;
}

.version {
  color: #444;
  font-size: 18px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 22px;
}

.flex {
  width: 120px;
}

.flex:hover {
  opacity: 0.4;
}

.flex .fa {
  font-size: 25px;
}

.fa-facebook {
  color: #263962;
}

.fa-twitter {
  color: #0b76b8;
}

.fa-instagram {
  color: #dc3522;
}

.fa-linkedin {
  color: #004569;
}

#latestposts h2 {
  padding-top: 10px;
  font-weight: bold;
}

ul.posts {
  list-style: none;
}

ul.posts li {
  padding-bottom: 10px;
}

ul.posts li a:hover {
  text-decoration: underline;
}

.btn-link {
  padding-bottom: 5px;
}